
.notificationWrapper{
  position: absolute;
  min-height: 50px;
  width: 100%;
  bottom: 100;
  text-align:center;
  opacity: 0;
  transition: 1s opacity
}

.notificationWrapper.displayed{
  opacity: 1
}

.invisible{
  display: none;
}

.closeButton{
  text-align : center;
  cursor:pointer;
  float: right;
  font-size: 11px;
  font-family: "helvetica";
  color: "tray";
}

.notification {
  text-align : center;
  background-color: #383838;
  width : fit-content;
  height: 100%;
  min-width: 250px;
  max-width: 500px;
  display:inline-block;
  border-radius: 5px;
  color: #F0F0F0;
  padding:10;
  box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}


.notificationForm{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.notificationForm .formTitle {
  font-size: 20px;
  font-weight: bold;
}

.formItemWrapper{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}

.formItemWrapper label{
  text-align: left;
  display: block;
}
.submitButton{
  background-color: black; /*#4CAF50;*/
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.formInputField{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
